    html,
    body, * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }
    .outer-container {
      position: relative;
      width: 100vw;
      height: 100vh;
      height: 100svh;
      overflow: hidden;
    }

    .alerts{
      position: absolute;
      top: 0;
      width: 100vw;
      padding: 2rem;
      min-height: 100px;
      transform: translateY(-1000px);
      transition: transform 300ms ease-in-out;
      /* border: salmon 2px dotted;
      background-color: sandybrown; */
    }

    #devmode {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100px;
      cursor: crosshair;
      /* background-color: darkorange; */
    }

    .container {
      width: 100%;
      white-space: nowrap;
      display: flex;
      transition: transform 60ms ease-in-out;
    }

    .inner-div {
      flex: 0 0 100vw;
      justify-content: center;
      align-content: center;
      place-items: flex-start;
      height: 100vh;
      height: 100svh;
      background-color: rgb(220 220 220);
      text-align: center;
      font-size: 2rem;
      display: grid;      
      margin: 0;
      position: relative;
    }

    fieldset{
      display: flex;
      flex-direction: column;
      border: none;

    }
    legend {
      text-align: left;
      font-size: .8rem;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
    }

    fieldset > input {
      font-size: 1rem;
      box-sizing: border-box;
    }

    form > button {
      width: 100%;
    }

    fieldset > select {
      font-size: 1rem;
    }

    .nav-button {
      width: 100%;
      position: absolute;
      bottom: 5vh;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      display: none;
      /* display: flex; */
    }

    .nav-button > span {
      color: #ccc;
      background-color: #222;
      padding: 1rem;
      aspect-ratio: 1;
      border-radius: 100rem;
      cursor: pointer;
    }

    #notas {
      margin-block: 2rem;
      display: flex;
      gap: 1rem;
    }

    #notas span {
      display: grid;
      place-items: center;
      /* border:  1px solid rgb(50 50 50 / .7); */
      background-color: rgb( 240 240 240 / .8);
      border-radius: .225rem;
      font-size: .6rem;
      text-transform: uppercase;
      padding: .4rem;
      flex-basis: 1;
    }
    .aprovado {
      background-color: rgb(10, 134, 72)!important;
      color: rgb(250 250 250);
      
    }
    .reprovado {
      background-color: rgb(177, 20, 59)!important;
      color: rgb(250 250 250);
    }

    #notas span h6 {
      font-size: 1.2rem;
    }

